# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Logs
logs/
*.log

# OS
.DS_Store

# Env files
.env
.env.*

# Prisma
prisma/dev.db
prisma/*.db-journal

# Tests
coverage/
.nyc_output/

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# VSCode workspace temp
*.code-workspace